*~
.project
.settings
.Rhistory
.RData
.Rproj*
tidybayes.Rproj
vignettes/ABC.rda
vignettes/ABC.rds
vignettes/*_cache/
vignettes/models/
vignettes/*.gif
README_cache/
README_models/
benchmarks.md
figures-source/Adobe*
revdep/
.Rproj.user
